GEMINI_API_KEY = token
GITHUB_TOKEN = token
DB_HOST=localhost
DB_PORT=5433
DB_NAME=context
DB_USER=postgres
DB_PASSWORD=devpass
CONFLUENCE_BASE_URL=https://kazelffl.atlassian.net
CONFLUENCE_EMAIL=your_email@example.com
CONFLUENCE_TOKEN=
MODEL=gemini-2.5-flash